<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Hệ thống tiếp dân</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/css/chatbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/gallery.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="static/plugins/jQuery/jquery-2.2.3.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/chatbox.js"></script>


    <script type="text/javascript" src="/static/plugins/intense/intense.js">
     
    </script>
    <script type="text/javascript" src="/static/plugins/intense/intense.min.js">
    
    </script>

  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
    </div>
  </body>
</html>
