<<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/css/chatbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/gallery.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="static/plugins/jQuery/jquery-2.2.3.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/chatbox.js"></script>


    <script type="text/javascript" src="/static/plugins/intense/intense.js">
     
    </script>
    <script type="text/javascript" src="/static/plugins/intense/intense.min.js">
    
    </script>
  </head>

  <body>
    <div id="body">

      <h1 id ="tag"></h1>
      </br>
      <h2>Các giấy tờ cần chuẩn bị </h2>
      <div class="wrapper" id="prepare-paper">
        
      </div>
    </br>
    <h2> Tờ khai </h2>
    <div class="media full" id="to-khai">
      
    </div>

      <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">chat</i>
      </div>

      <div class="chat-box">
        <div class="chat-box-header">
          Trợ lý ảo Sonny
          <span class="chat-box-toggle"
            ><i class="material-icons">close</i></span
          >
        </div>
        <div class="chat-box-body">
          <div class="chat-box-overlay"></div>
          <div class="chat-logs">
            <div id="cm-msg-0" class="chat-msg user">
              <span class="msg-avatar"
                ><img src="/static/img/chatbot.jpg"
              /></span>
              <div class="cm-msg-text">
                Xin chào, mình là Sonny. Bạn có thể hỏi mình bất cứ điều gì về
                dịch vụ công.
              </div>
            </div>
          </div>
          <!--chat-log -->
        </div>
        <div class="chat-input">
          <form>
            <input type="text" id="chat-input" placeholder="Nhập câu hỏi..." />
            <button type="submit" class="chat-submit" id="chat-submit">
              <i class="material-icons">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
