{% extends "base.html" %}
{% block title %}Phòng tiếp dân{% endblock %}
{% block head %}
  {{ super() }}
   <link rel="stylesheet" type="text/css" href="/static/css/gallery.css" />
{% endblock %}

{% block content %}

  <body>

    <div id="body">

      <h1 id ="tag"></h1>
      </br>
      <h2>Các giấy tờ cần chuẩn bị </h2>
      <div class="wrapper" id="prepare-paper">
        
      </div>
    </br>
    <h2> Tờ khai </h2>
    <div class="media full" id="to-khai">
      
    </div>

    </div>

  </body>
{% endblock %}


